body {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	padding-top: 70px;
}

/* Styling for the fixed Navbar */
.navbar-default {
	background-color: #87b5de;
}

#bootstrap-override .navbar {
	border:none;
}

#bootstrap-override .navbar-nav > li > a {
	color: #ffffff;
}


@media (max-width: 767px) {
	#bootstrap-override .navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ffffff;
	}
}


pre {
	display: block;
    font-family: inherit;
    padding: none !important;  
    margin: none !important;  
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    background-color: inherit;
    border: none;
    border-radius: none;
    overflow-y:scroll !important;  
	overflow-x: hidden !important;
}
#bootstrap-override .navbar-brand {
	color: #ffffff;
}

text#notificationsLength
{
	font-size: 50%;
	fill: #003565;
}

footer {
	font-size: 70%;
}

.notification-image {
	background-image: url(images/sms_white_24.png);
	background-repeat:no-repeat;
	background-position: center;
}

.notification-item {
	padding:5px;
	margin:5px;
	background:#c3e3ff;
	border-radius:4px;
 }

 .notification-item > a {
 	color: black;
 }

 #bootstrap-override .notification-menu {
 	min-width: 250px;
 }

 #bootstrap-override .navbar-toggle {
 	float: left;
 }

 #bootstrap-override .navbar-header {
 	max-width: 300px;
 }

 .panel {
 	width:100%;
 }

 .badge-notify{
   background:red;
   position:relative;
   top: 0px;
   left: 0px;
}

.bid-panel-title {
	font-size: 180%;
}

.pointer {
	cursor: pointer;
}

.small-center-padding {
	padding:0 15%;
}

.inline-block {
	display: inline-block;
}

a.inline {
    display:inline;
}

td > a {
	color: inherit;
}

img.modalImageDisplay {
    max-width:100%;
}

/*
*	Buttons
*/
.btn-xlg {
	font-size: 24px;
	border-radius: 6px;
	padding: 10px 24px;
}
/*
* Panels
*/
.narrow-panel-item {
	width: 100%;
	text-align: center;
}

.line-list {
	float:left;
	list-style:none;
}

.rating-icon {
	font-size: 18px;
	padding: 0 2px;
}

@media(min-width:992px) {
	.equal, .equal > div[class*='col-'] { 
	    display: -webkit-flex;
	    display: flex;
	    flex:1 1 auto;
	    max-height: 500px;
	}
}
