<head>
	<title>auction-app</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
	<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="icon" sizes="16x16 32x32" href="/favicon.ico?v=2">
</head>

<body id="bootstrap-override">
	{{> navbar}}
</body>