<template name="auctionInfoModal">
  <div id="auctionInfoModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h1 class="modal-title">Auction Types</h1>
            </div>
            <div class="modal-body">
              <h2>Blind Auctions</h2>
              <h4>Also known as: "Sealed-Bid" Auction</h4>
              <p>In a blind auction, each participant in the auction submits one bid which represents the price they are willing to pay for the auctioned item.</p>
              <br>
              <h2>English Auctions</h2>
              <h4>Also known as: "Open-Outcry" Auction</h4>
              <p>In an English Auction participants bid against each other directly until the time expires. The winner of the auction is the participant who has bid the highest amount when the timer runs out. The winner is expected to pay the amount they last bid.</p>
              <br>
              <h2>Dutch Auctions</h2>
              <h4>Also known as: "Open-Outcry Descending-Price" Auction</h4>
              <p>In a Dutch Auction the price typically starts high at the sellers 'Asking Price'. The price then drops by a regular amount at regular intervals until a participant in the auction is prepared to pay the price. The seller also sets a 'Reserve Price'. When the price reduces to the reserve price the auction ends with no winner.</p>
              <br>
              <h2>Second-Price Auctions</h2>
              <h4>Also known as: Vickrey Auction</h4>
              <p>In this implementation of the Second-Price Auction participants submit a bid which represents their valuation of the auctioned item. The winner of the auction is the participant who enters the highest valuation, which is similar to the Blind Auction described above. The price paid by the winner of this auction is not the bid they submit. Instead it is the value of the bid submitted by the next highest bidder.</p>              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
      </div>

    </div>
  </div>
</template>