<template name="imageRibbon">
	<div style="width: 100%; overflow-x: scroll; white-space:nowrap;" >
		{{#each auctionImages auctionId}}
			<a href="#" class="ribbonThumbnail" data-toggle="modal" data-target="#imageModal">
				<img src="{{this.url store='images'}}" style='max-width: 33%;'>
			</a>
		{{/each}}
	</div>
</template>