<template name="imageModal">
  <div id="imageModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
          {{#with modalImage}}
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">{{this.original.name}}</h4>
            </div>
            <div class="modal-body">
              <img class="modalImageDisplay" src="{{this.url store='images'}}">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          {{/with}}
      </div>

    </div>
  </div>
</template>