<!-- Fixed navbar -->
<template name="navbar">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<!-- Navbar Header -->
			<!-- Left side of the header contains the logo-->
			<div class="navbar-header navbar-left pull-left">
				<a class="navbar-brand" href="index">CODD05</a>
			</div>
			{{#if currentUser}}
				<div class="navbar-header navbar-right pull-right">
					<ul class="nav pull-left">
						<li class="dropdown pull-right">
							<button class="dropdown-toggle btn btn-default btn-lg btn-link" data-toggle="dropdown">
								<span class="glyphicon glyphicon-comment" style="font-size:24px;"></span>
								{{#if Template.subscriptionsReady}}
									<span class="badge badge-notify">{{unreadNotificationsLength}}</span>
								{{/if}}
							</button>
							<!-- Notifications Dropdown Menu -->
							<!-- Notifications for friend requests, auctions and messages -->
							<ul class="dropdown-menu notification-menu" style="max-height: 500px; overflow:scroll;">
								<!-- Friend Requests -->
								{{#each currentUser.friendRequests}}
									{{#if isUnread}}
										<li>
											<div class="notification-item">
												<span>
													You have a friend request from <b>{{this.company}}</b>
												</span><button class="btn btn-default btn-sm" data-function="accept-friend">Accept</button><button class="btn btn-default btn-sm" data-function="reject-friend">Reject</button>
											</div>
										</li>
									{{/if}}
								{{/each}}
								<!-- Auctions -->
								{{#each currentUser.auctionInvites}}
									<li>
										<div class="notification-item">
											<span>
												You have been invited to bid on the auction <b>{{auctionData.auction_item}}</b>
											</span><button class="btn btn-default btn-sm" data-function="go-to-auction">Go To Auction</button><button class="btn btn-default btn-sm" data-function="dismiss">Dismiss</button>
										</div>
									</li>
								{{/each}}
							</ul>
						</li>
					</ul>
					<!-- Required bootstrap placeholder for the collapsed menu -->
	          		<button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
				</div>
			{{/if}}
    		<div class="visible-xs-block clearfix"></div>
			  	<!-- The Collapsing items            navbar-left or navbar-right -->
				<div class="collapse navbar-collapse">
				<!-- pull-right keeps the drop-down in line -->
				<ul class="nav navbar-nav">
					<li class="dropdown">
			        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>
						<ul class="dropdown-menu">
						{{#if currentUser}}
							<li><a href="/auctionBuilder">Create New Auction</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="/profile/{{getUserId}}">My Profile</a></li>
							<li><a href="/viewFriends">Friends</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="/myAuctions">View My Auctions</a></li>
							<li><a href="/viewWatchedAuctions">View Watched Auctions</a></li>
							<li><a href="/viewPublicAuctions">View Public Auctions</a></li>
							<li role="separator" class="divider"></li>							
							<li><a href="/homePage">Home</a></li>
							<li><a href="/about">About</a></li>
							<li role="separator" class="divider"></li>
							<li><a id="logout">Logout</a></li>
						{{else}}
							<li><a href="/homePage">Home</a></li>
							<li><a href="/about">About</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="/loginPage">Login</a></li>
							<li><a href="/registerPage">Register</a></li>
						{{/if}}
						</ul>
			        </li>
				</ul>
			</div>
		</div>		
	</nav>
</template>