<template name="englishAuction">
	<section>
		<div class="container">
			<div class="row">
				<div class="col-xs-1 col-md-2"></div>
				<div class="col-xs-10 col-md-8">
					<h1>{{this.auction_name}}</h1>
					<h3>Auctioned by <a href="/profile/{{this.seller}}">{{sellerCompany}}</a></h3>
					<p>{{this.auction_description}}</p>
					<div class="row">
					  	<div class="col-md-1"></div>
						<div class="col-md-10">
							{{> imageRibbon auctionId=this._id}}
						<div class="col-md-1"></div>
						</div>
					</div>
				</div>
				<div class="col-xs-1 col-md-2"></div>
			</div>
			<hr>
			{{#if this.finished}}
				<div class="row">
					<div class="col-xs-1 col-md-2"></div>
					<div class="col-xs-10 col-md-8">
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h4 class="panel-title bid-panel-title">Auction Ended</h4>
						  </div>
						  <div class="panel-body">
						  	This auction has now ended. Please click "Auction Review" to see the results of the Auction.
						  </div>
						</div>
						<div class="text-center">
					 		<button id="auctionReview" class="btn btn-info btn-xlg">Review Auction</button>
					 	</div>
					</div>
					<div class="col-xs-1 col-md-2"></div>
				</div>
			{{else}}
				<div class="row">
					<div class="col-xs-1 col-md-2"></div>
					<div class="col-xs-10 col-md-8">
						<h3>Time Remaining: {{timeRemaining this.endDateTime}}</h3>
					</div>
					<div class="col-xs-1 col-md-2"></div>
				</div>
				<div class="row">
					<div class="col-xs-1 col-md-2"></div>
					<div class="col-xs-10 col-md-8">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Requirements</h3>
							</div>
							<div class="panel-body">
								<div class="container-fluid">
									{{#each auctionOption}}
										<div class="row">
											{{#each row}}
												<div class="col-md-3 col-xs-6">
													<div class="text-center">
														<p>{{this}}</p>
											   		</div>
										   		</div>
											{{/each}}
										</div>
									{{/each}}
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-1 col-md-2"></div>
				</div>
					{{#if isSeller}}
						<div class="row">
							<div class="col-xs-1 col-md-2"></div>
							<div class="col-xs-10 col-md-8">
								<table class="table table-striped">
									<thead>
								    	<tr>
								    		<th>Bidder</th>
									    	<th>Date</th>
									        <th>Amount</th>
								    	</tr>
								    </thead>
								    <tbody>
										{{#each this.bids}}
											<tr>
												<td>{{getCompany this.bidder}}</td>
												<td>{{formatDateTime this.date}}</td>
												<td>{{this.amount}}</td>
											</tr>
										{{/each}}
									</tbody>
								</table>
							</div>
							<div class="col-xs-1 col-md-2"></div>
						</div>
					{{else}}
						<div class="row">
							<div class="col-xs-1 col-md-2"></div>
							<div class="col-xs-10 col-md-8">
								<div class="panel panel-default">
								  <div class="panel-heading">
								    <h4 class="panel-title bid-panel-title">Make a Bid</h4>
								  </div>
								  <div class="panel-body">
								  	{{#if noBidMade}}
								  		You have not made a bid in this auction yet.
								  	{{else}}
								  		You have made a bid on this auction.
								  	{{/if}}
								  	{{#if winningBid.highestBidder}} 
								  		<h3>Current Winning Bid: {{winningBid.highestBid}}</h3>
								  		<div class="bg-success inline-block"><div style="padding: 5px 10px;">You are currently winning the auction with this bid.</div></div>
								  	{{else}}
								  		<div class="success inline-block"><div style="padding: 5px 10px;">Current Winning Bid: {{winningBid.highestBid}}</div></div>
								  		<div class="bg-danger inline-block">This is not your bid, therefore you are not winning the auction.</div>
								  	{{/if}}
								    <form class="form-inline insert-blind-bid" style="margin: 5px 0px;">
								    	<div class="form-group">
										    <label for="exampleInputEmail2">Bid Amount:</label>
										    {{#if ascending}}
										    	<input id="blind-bid-amount" type="number" class="form-control" step="{{this.bidStep}}" min="{{this.startPrice}}">
										    {{else}}
										    	{{#if descending}}
													<input id="blind-bid-amount" type="number" class="form-control" step="{{this.bidStep}}" min="{{this.bidStep}}" max="{{this.startPrice}}">
												{{/if}}
										    {{/if}}
										</div>
										  <button type="submit" class="btn btn-success">Submit</button>
								    </form>
								  </div>
								</div>
							</div>
							<div class="col-xs-1 col-md-2"></div>
						</div>
					{{/if}}
			{{/if}}
		</div>
	</section>
	{{> imageModal}}
</template>