<template name="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-xs-1"></div>
			<div class="col-lg-6 col-md-6 col-xs-10">
				<h1 class="blog-title">About</h1>
				<p> This Web Applications is part of a 4th year Honours Project by James Minney while studying at the University of Strathclyde.
				</p>
			</div>
			<div class="col-lg-3 col-md-3 col-xs-1"></div>

		</div>
	</div>
</template>