<template name="homePage">
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            {{#unless currentUser}}
              <li role="presentation"><a href="/loginPage">Login</a></li>
              <li role="presentation"><a href="/registerPage">Register</a></li>
            {{/unless}}
            <li role="presentation"><a href="/about">About</a></li>
          </ul>
        </nav>

      </div>

      <div class="jumbotron">
        <h1>The Auction Wall</h1>
        <p class="lead">Welcome to The Auction Wall - a marketplace for selling jobs and contract. Sign your company up today and begin connecting with companies ranging from Cleaning Professionals to Software Developers.</p>
        {{#unless currentUser}}
          <p><a class="btn btn-lg btn-success" style="margin: 0 5px;" href="/registerPage" role="button">Click here to Sign up today</a><a class="btn btn-lg btn-info" style="margin: 5px;" href="/loginPage" role="button">Login with an existing account</a></p>
        {{/unless}}
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Marketplace</h4>
          <p>Access a range of companies looking for employment in multiple sectors</p>

          <h4>Organisation</h4>
          <p>The companies you regularly deal with are all in one place</p>
        </div>

        <div class="col-lg-6">
          <h4>Get the Best Deal</h4>
          <p>Whether you are selling work or trying to buy, the range of auction options help you get the best deal</p>

          <h4>A Modern Application</h4>
          <p>The Auction Wall is a modern application which is constantly improving and brining new features</p>
        </div>
      </div>
      <hr>
      <footer>
        <p>© 2016 An Honours project by James Minney, 4th year Undergraduate Student at the University of Strathclyde.</p>
        <p>j_minney@live.co.uk</p>
        <p>Supervised and suggested by Alex Coddington</p>
      </footer>

    </div>

</template>