<template name='viewPublicAuctions'>
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-xs-12 col-md-10">
				<table class="table table-responsive table-striped">
					<thead>
				    	<tr>
				    		<th data-header="auction_name">Auction Name</th>
				    		<th data-header="seller">Seller</th>
				    		<th class="hidden-xs hidden-sm" data-header="auction_type">Auction Type</th>
				    		<th class="hidden-xs hidden-sm">Number of Bids</th>
				    		<th data-header="endDateTime">End Date</th>
				    	</tr>
				    </thead>
				    <tbody>
						{{#each publicAuction}}
							<tr>
						    	<td><a href="/{{this.auction_type}}/{{hexId}}">{{this.auction_name}}</a></td>
						        <td><a href="/profile/{{this.seller}}">{{sellerCompany}}</a></td>
						        <td class="hidden-xs hidden-sm"><a href="/{{this.auction_type}}/{{hexId}}">{{this.auction_type}}</a></td>
						        <td class="hidden-xs hidden-sm"><a href="/{{this.auction_type}}/{{hexId}}">{{numberOfBids}}</a></td>
						        <td><a href="/{{this.auction_type}}/{{hexId}}">{{formatDate this.endDateTime}}</a></td>
							</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</template>