<template name="viewWatchedAuctions">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-xs-12 col-md-10">
				<table class="table table-responsive table-striped">
					<thead>
				    	<tr>
				    		<th data-header="auction_name">Auction Name</th>
				    		<th data-header="seller">Seller</th>
				    		<th data-header="auction_type">Auction Type</th>
				    		<th class="hidden-xs hidden-sm">Number of Bids</th>
				    		<th data-header="endDateTime">End Date</th>
				    		<th>Time Remaining</th>
				    	</tr>
				    </thead>
				    <tbody>
						{{#each watchedAuctions}}
							{{#with auction}}
								<tr>
							    	<td><a href="/{{this.auction_type}}/{{hexId}}">{{this.auction_name}}</a></td>
							        <td><a href="/profile/{{this.seller}}">{{sellerCompany}}</a></td>
							        <td><a href="/{{this.auction_type}}/{{hexId}}">{{this.auction_type}}</a></td>
							        <td class="hidden-xs hidden-sm"><a href="/{{this.auction_type}}/{{hexId}}">{{numberOfBids}}</a></td>
							       	<td class="hidden-xs hidden-sm"><a href="/{{this.auction_type}}/{{hexId}}">{{formatDate this.endDateTime}}</a></td> 
							        {{#if this.finished}}
							        	<td>Finished</td>
							        {{else}}
										<td>{{timeRemaining}}</td>
							        {{/if}}
								</tr>
							{{/with}}
						{{/each}}
					</tbody>
				</table>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</template>