<template name="secondpriceResults">
	<div class="container">
		<div class="row">
			<div class="col-xs-1 col-md-2"></div>
			<div class="col-xs-10 col-md-8">
				<h1>{{this.auction_name}} - Results</h1>
				<h3>Auctioned by <a href="/profile/{{this.seller}}">{{getCompany this.seller}}</a></h3>
				{{#if isSeller}}
					<table class="table table-striped">
						<thead>
					    	<tr>
					    		<th>Bidder</th>
						    	<th>Date</th>
						        <th>Amount</th>
						        <th>Selected Options</th>
					    	</tr>
					    </thead>
					    <tbody>
							{{#each this.bids}}
								<tr>
									<td>{{getCompany this.bidder}}</td>
									<td>{{formatDateTime this.date}}</td>
									<td>{{this.amount}}</td>
									<td>{{this.selectedOptions}}</td>
								</tr>
							{{/each}}
						</tbody>
					</table>
					<h3>The auction winner was {{getCompany winner.[0]._id}} with a bid of {{winner.[0].amount}}</h3>
					<h3>The Second-Price value is: {{winner.[0].secondAmount}}</h3>
				{{else}}
					<table class="table table-striped">
						<thead>
					    	<tr>
						    	<th>Date</th>
						        <th>Amount</th>
					    	</tr>
					    </thead>
					    <tbody>
							{{#each this.bids}}
								<tr>
									<td>{{formatDateTime this.date}}</td>
									<td>{{this.amount}}</td>
								</tr>
							{{/each}}
						</tbody>
					</table>
					{{#if isUserWinner}}
					  	<h4 class="bg-success inline-block"><div style="padding: 5px 10px;">Congratulations, you won this auction at price: {{winner.[0].amount}}</div></h4>
					  	<h4 class="bg-success inline-block"><div style="padding: 5px 10px;">The Second-Price is: {{winner.[0].secondAmount}}</div></h4>
					{{else}}
						<h4 class="bg-danger inline-block"><div style="padding: 5px 10px;">Unfortunately you did <b>not</b> win this auction.<br></div></h4>
						<h4>Winning Amount: {{winner.[0].amount}}</h4>
					{{/if}}
				{{/if}}
			</div>
			<div class="col-xs-1 col-md-2"></div>
		</div>
	</div>
</template>