<template name="dutchAuction">
	<section>
		<div class="container">
			<div class="row">
				<div class="col-xs-1 col-md-2"></div>
				<div class="col-xs-10 col-md-8">
					<h1>{{this.auction_name}}</h1>
					<h3>Auctioned by <a href="/profile/{{this.seller}}">{{sellerCompany}}</a></h3>
					<p>{{this.auction_description}}</p>
					<div class="row">
						<div class="col-md-1"></div>
						<div class="col-md-10">
							{{> imageRibbon auctionId=this._id}}
						<div class="col-md-1"></div>
						</div>
					</div>
				</div>
				<div class="col-xs-1 col-md-2"></div>
			</div>
			<br>
			<div class="row">
				<div class="col-xs-1 col-md-2"></div>
				<div class="col-xs-10 col-md-8">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Requirements</h3>
						</div>
						<div class="panel-body">
							<div class="container-fluid">
								{{#each auctionOption}}
									<div class="row">
										{{#each row}}
											<div class="col-md-3 col-xs-6">
												<div class="text-center">
													<p>{{this}}</p>
										   		</div>
									   		</div>
										{{/each}}
									</div>
								{{/each}}
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-1 col-md-2"></div>
			</div>
			<hr>
			{{#if this.finished}}
				<div class="row">
					<div class="col-xs-1 col-md-2"></div>
					<div class="col-xs-10 col-md-8">
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h4 class="panel-title bid-panel-title">Auction Ended</h4>
						  </div>
						  <div class="panel-body">
						  	This auction has now ended. Click 'Review Auction' to review all the bids entered into this auction.
						  </div>
						</div>
						<div class="text-center">
					 		<button id="auctionReview" class="btn btn-info btn-xlg">Review Auction</button>
					 	</div>
					</div>
					<div class="col-xs-1 col-md-2"></div>
				</div>
			{{else}}
					<div class="row">
						<div class="col-xs-1 col-md-2"></div>
						<div class="col-xs-10 col-md-8">
							<div class="panel panel-default">
							  <div class="panel-heading">
							    <h4 class="panel-title bid-panel-title">Auction Status</h4>
							  </div>
							  <div class="panel-body">
							  	<div class="row">
							  		<div class="col-lg-2 col-md-2">
							  			
							  		</div>
							  		<div class="col-lg-10 col-md-10">
							  			<h4>Current Price: {{currentPrice}}</h4>
							  			<h5>Next Price Change: {{timeRemaining}}</h5>
							  			<h5>Next Price: {{nextPrice}}</h5>
							  			<h5>Reserve Price: {{this.reservePrice}}</h5>
							  			<hr>
							  			{{#unless isSeller}}
							  				<button class="btn btn-success" data-function="buy-at-price">Buy at Current Price</button>
							  			{{/unless}}
							  		</div>
							  	</div>
							  </div>
							</div>
						</div>
						<div class="col-xs-1 col-md-2"></div>
					</div>
			{{/if}}
		</div>
	</section>
	{{> imageModal}}
</template>