<template name="dutchResults">
	<div class="container">
		<div class="row">
			<div class="col-xs-1 col-md-2"></div>
			<div class="col-xs-10 col-md-8">
				<h1>{{this.auction_name}} - Results</h1>
				<h3>Auctioned by <a href="/profile/{{this.seller}}">{{getCompany this.seller}}</a></h3>
				{{#if isSeller}}
					<div class="row">
						<div class="col-xs-1 col-md-2"></div>
						<div class="col-xs-10 col-md-8">
							<div class="panel panel-default">
							  <div class="panel-heading">
							    <h4 class="panel-title bid-panel-title">Auction Ended</h4>
							  </div>
							  <div class="panel-body">
							  	<h4> This Auction is now finished. </h4>
							  	<hr>
							  	<h4>Winner: {{getCompany winner._id}}</h4>
								<h4>Winning Price: {{winner.price}}</h4>
								<h4>Winning Time: {{formatDateTime winner.date}}</h4>
							  </div>
							</div>
						</div>
						<div class="col-xs-1 col-md-2"></div>
					</div>
				{{else}}
					<div class="row">
						<div class="col-xs-1 col-md-2"></div>
						<div class="col-xs-10 col-md-8">
							<div class="panel panel-default">
							  <div class="panel-heading">
							    <h4 class="panel-title bid-panel-title">Auction Ended</h4>
							  </div>
							  <div class="panel-body">
							  	<h4> This Auction is now finished. </h4>
							  	<hr>
							  	{{#if isUserWinner}}
								  	<h4 class="bg-success inline-block"><div style="padding: 5px 10px;">Congratulations, you won this auction at price: {{winner.price}}</div></h4>
								{{else}}
									<h4 class="bg-danger inline-block"><div style="padding: 5px 10px;">Unfortunately you did <b>not</b> win this auction.<br></div></h4>
									<h4>Winning Price: {{winner.price}}</h4>
									<h4>Winning Time: {{formatDateTime winner.date}}</h4>
								{{/if}}
							  </div>
							</div>
						</div>
						<div class="col-xs-1 col-md-2"></div>
					</div>
				{{/if}}
			</div>
			<div class="col-xs-1 col-md-2"></div>
		</div>
	</div>
</template>