<template name="loginPage">
    <div class="container">
    	<div class="row">
    		<div class="col-lg-3 col-md-4 col-sm-3 col-xs-1"></div>
		    <div class="col-lg-6 col-md-4 col-sm-6 col-xs-10">
				<form id="loginForm" class="form-signin">
					<h2 class="form-signin-heading">Please sign in</h2>
					<label for="inputEmail" class="sr-only">Email address</label>
					<input type="email" id="loginEmail" class="form-control" placeholder="Email address" required="" autofocus="">
					<label for="inputPassword" class="sr-only">Password</label>
					<input type="password" id="loginPassword" class="form-control" placeholder="Password" required="">
					<div class="checkbox">
						<label>
						<input type="checkbox" value="remember-me"> Remember me
						</label>
					</div>
					<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
				</form>
			</div>
		  	<div class="col-lg-3 col-md-4 col-sm-3 col-xs-1"></div>
		</div>
	</div>
</template>