<template name="profilePage">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-3 col-sm-push-5">
				<div class="thumbnail">
					{{#if isProfilePic}}
						{{#unless uploadingImage}}
							{{#with profileImage}}
								<img src="{{this.url store='profilePicStore'}}" alt="Unable to display profile picture">
							{{/with}}
						{{else}}
							<p><i class="fa fa-spin fa-refresh"></i> Uploading Image...</p>
						{{/unless}}
					{{/if}}
					{{#if isOwner}}
						<div class="caption">
							<input id="uploadProfilePic" type="file">
							Click 'choose file' to upload a profile picture.
						</div>
					{{/if}}
				</div>
				{{#unless isOwner}}
					{{#unless alreadyFriends}}
						<button class="btn btn-success text-center" data-function="addFriend">Add Friend</button>
					{{else}}
						<button class="btn btn-success text-center" data-function="removeFriend">Remove Friend</button>
					{{/unless}}
				{{/unless}}
			</div>
			<div class="col-sm-5 col-sm-pull-3">
				<h1>{{getCompany this._id}}</h1>
				<h2>{{this.profile.sector}}</h2>
				<h5>Contact Email: {{this.emails.[0].address}}</h5>
			</div>
			<div class="col-sm-2"></div>
		</div>
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-8">
				{{#if editBio}}
					<div><h4>Company Bio</h4></div>
					<textarea id="newBio">{{this.profile.description}}</textarea>
					<button class="btn btn-info" data-function="submitEditBio">Submit</button>
					<button class="btn btn-danger" data-function="cancelEditBio">Cancel</button>
				{{else}}
					<div><h4>Company Bio</h4> {{#if isOwner}}<button id="editBio" class="btn btn-info">Edit</button>{{/if}}</div>
					<p><pre>{{this.profile.description}}</pre></p>
				{{/if}}
			</div>
			<div class="col-sm-2"></div>
		</div>
	</div>
</template>