<template name="registerPage">
	<div class="container" style="margin-left:auto; margin-right:auto; padding: 10% 10% 0% 10%;">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<img class="img-responsive" src="/images/loginpage_image.png" alt="Image could not be displayed"/>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-8 col-xs-offset-2 col-lg-8 col-lg-offset-2">
				<div class="row" style="padding: 5px 0px 5px 0px">
					<div class="col-md-1"></div>
					<div class="col-md-5">
						<div style="margin:5px 10px;">
							<label for="input-firstname" style="margin: 0px;">First Name:</label>
							<input id="input-firstname" type="text" placeholder="Megan">
						</div>
					</div>
					<div class="col-md-5">
						<div style="margin:5px 10px;">
							<label for="input-surname" style="margin: 0px;">Surname:</label>
							<input id="input-surname" type="text" style="margin: 0 auto;" placeholder="Bloggs">
						</div>
					</div>
					<div class="col-md-1"></div>
				</div>
				<div class="row" style="padding: 5px 0px 5px 0px">
					<div class="col-md-1"></div>
					<div class="col-md-5">
						<div style="margin:5px 10px;">
							<label for="input-email" style="margin: 0px;">Email Address:</label>
							<input id="input-email" type="email" style="margin: 0 auto;" placeholder="Email">
						</div>
					</div>
					<div class="col-md-5">
						<div style="margin:5px 10px;">
							<label for="input-company" style="margin: 0px;">Company:</label>
							<input id="input-company" type="text" style="margin: 0 auto;" placeholder="Company">
						</div>
					</div>
					<div class="col-md-1"></div>
				</div>
				<div class="row" style="padding: 5px 0px 5px 0px">
					<div class="col-md-1"></div>
					<div class="col-md-5">
						<div style="margin:5px 10px;">
							<label for="input-password" style="margin: 0px;">Password:</label>
							<input id="input-password" type="password" placeholder="password">
						</div>
					</div>
					<div class="col-md-5">
						<div style="margin:5px 10px;">
							<label for="input-retype-password" style="margin: 0px;">Retype Password:</label>
							<input id="input-retype-password" type="password" style="margin: 0 auto;" placeholder="Password">
						</div>
					</div>
					<div class="col-md-1"></div>
				</div>
				<div class="row" style="padding: 5px 0px 5px 0px">
					<div class="col-md-3"></div>
					<div class="col-md-6">
						<div style="margin:5px 0px;">
							<label for="select-sector" style="margin: 0px;">Sector:</label>
							<select  id="input-sector" class="form-control">
								{{#each industrySector}}
								    <option value="{{this.name}}">{{capitaliseFirstLetter this.name}}</option>
								{{/each}}
							</select>
						</div>
					</div>
					<div class="col-md-3"></div>
				</div>
				<div class="row" style="padding: 5px 0px 5px 0px">
					<div class="col-md-3"></div>
					<div class="col-md-6">
						<div style="width:70px; margin:auto;">
							<button id="submit-registration">Submit</button>
						</div>
					</div>
					<div class="col-md-3"></div>
				</div>
			</div>
		</div>
	</div>
</template>