<template name="auctionBuilder">
	<div class="container">
		<div class="row">
			<div class="col-md-2 col-lg-2"></div>
			<div class="col-md-8 col-lg-8">
				<h1>Auction Builder</h1>
				<h5>Select an auction template from below to create a new auction.</h5>
				<h5>If none of the auction templates are suitable for your item then please select 'custom'</h5>
				<br>
				<button type="button" class="btn btn-default btn-lg btn-block" data-action="auction-template" data-target="cleaning">
					Cleaning and Maintenance
				</button>
				<button type="button" class="btn btn-default btn-lg btn-block" data-action="auction-template" data-target="trade">
					Trade Services
				</button>
				<button type="button" class="btn btn-default btn-lg btn-block" data-action="auction-template" data-target="software">
					Software Auction
				</button>
				<button type="button" class="btn btn-default btn-lg btn-block" data-action="auction-template" data-target="custom">
					Custom Template
				</button>
			</div>
			<div class="col-md-2 col-lg-2"></div>
		</div>
		<div class="row">
			<div class="col-md-2"></div>
			<div id="auctionTemplateAnchor" class="col-md-8">
				{{#if selectedAuctionTemplate "cleaning"}}
					{{> cleaningAuctionTemplate}}
					<br>
					{{> uploadImages}}
					<br>
					{{> auctionTypeSelectorPanel}}
					<div class="container-fluid">
						<div class="row equal">
							<div class="col-md-6 col-xs-12">
								{{#if selectedAuctionType "blind"}}
									{{> blindParameters}}
								{{else}} 
									{{#if selectedAuctionType "english"}}
										{{> englishParameters}}
									{{else}}
										{{#if selectedAuctionType "dutch"}}
											{{> dutchParameters}}
										{{else}}
											{{#if selectedAuctionType "secondprice"}}
												{{> secondPriceParameters}}				
											{{/if}}
										{{/if}}
									{{/if}}
								{{/if}}
							</div>
							<div class="col-md-6 col-xs-12" >
								{{> abInviteFriendsPanel}}
							</div>
						</div>
					</div>
					{{> createAuctionButton}}
				{{else}}
					{{#if selectedAuctionTemplate "trade"}}
						{{> tradeAuctionTemplate}}
						<br>
						{{> uploadImages}}
						<br>
						{{> auctionTypeSelectorPanel}}
						<div class="container-fluid">
							<div class="row equal">
								<div class="col-md-6 col-xs-12">
									{{#if selectedAuctionType "blind"}}
										{{> blindParameters}}
									{{else}} 
										{{#if selectedAuctionType "english"}}
											{{> englishParameters}}
										{{else}}
											{{#if selectedAuctionType "dutch"}}
												{{> dutchParameters}}
											{{else}}
												{{#if selectedAuctionType "secondprice"}}
													{{> secondPriceParameters}}				
												{{/if}}
											{{/if}}
										{{/if}}
									{{/if}}
								</div>
								<div class="col-md-6 col-xs-12" >
									{{> abInviteFriendsPanel}}
								</div>
							</div>
						</div>
						{{> createAuctionButton}}
					{{else}}
						{{#if selectedAuctionTemplate "software"}}
							{{> softwareAuctionTemplate}}
							<br>
							{{> uploadImages}}
							<br>
							{{> auctionTypeSelectorPanel}}
							<div class="container-fluid">
								<div class="row equal">
									<div class="col-md-6 col-xs-12">
										{{#if selectedAuctionType "blind"}}
											{{> blindParameters}}
										{{else}} 
											{{#if selectedAuctionType "english"}}
												{{> englishParameters}}
											{{else}}
												{{#if selectedAuctionType "dutch"}}
													{{> dutchParameters}}
												{{else}}
													{{#if selectedAuctionType "secondprice"}}
														{{> secondPriceParameters}}				
													{{/if}}
												{{/if}}
											{{/if}}
										{{/if}}
									</div>
									<div class="col-md-6 col-xs-12" >
										{{> abInviteFriendsPanel}}
									</div>
								</div>
							</div>
							{{> createAuctionButton}}
						{{else}}
							{{#if selectedAuctionTemplate "custom"}}
								{{> customAuctionTemplate}}
								<br>
								{{> uploadImages}}
								<br>
								{{> auctionTypeSelectorPanel}}
								<div class="container-fluid">
									<div class="row equal">
										<div class="col-md-6 col-xs-12">
											{{#if selectedAuctionType "blind"}}
												{{> blindParameters}}
											{{else}} 
												{{#if selectedAuctionType "english"}}
													{{> englishParameters}}
												{{else}}
													{{#if selectedAuctionType "dutch"}}
														{{> dutchParameters}}
													{{else}}
														{{#if selectedAuctionType "secondprice"}}
															{{> secondPriceParameters}}				
														{{/if}}
													{{/if}}
												{{/if}}
											{{/if}}
										</div>
										<div class="col-md-6 col-xs-12" >
											{{> abInviteFriendsPanel}}
										</div>
									</div>
								</div>
								{{> createAuctionButton}}
							{{/if}}
						{{/if}}
					{{/if}}
				{{/if}}
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
	{{> auctionInfoModal}}
</template>