<template name="dutchParameters">
	<div class="panel panel-default" style="overflow:scroll;">
		<div class="panel-heading">
			<h3 class="panel-title">Auction Parameters (Dutch)</h3>
		</div>
		<div class="panel-body">
			<form>
				<div class="form-group form-inline narrow-panel-item">
					<div class="inline-block">
						<label for="abStartPrice">Start Price</label>
						<input id="abStartPrice" class="form-control input-sm" style="width: 120px;" type="number"  step="any" min="0">
					</div>
				</div>
				<hr>
				<div class="form-group form-inline narrow-panel-item">
					<div class="inline-block">
						<label for="abReservePrice">Reserve Price</label>
						<input id="abReservePrice" class="form-control input-sm" style="width: 120px;" type="number"  step="any" min="0">
					</div>
				</div>
				<hr>
				<div class="form-group form-inline narrow-panel-item">
					<div class="inline-block">
						<label for="abReductionAmount">Reduction Amount</label>
						<input id="abReductionAmount" class="form-control input-sm" style="width: 120px;" type="number"  step="any" min="0">
					</div>
				</div>
				<hr>
				<div class="narrow-panel-item">
					<div class="inline-block">
						<label>Reduction Interval</label><br>
						<table class="table-condensed" style="max-width: 250px;">
							<thead>
								<th class="text-center">Days</th>
								<th class="text-center">Hours</th>
								<th class="text-center">Minutes</th>
							</thead>
							<tbody>
								<tr>
									<td>
										<input id="abReductionIntervalDays" class="form-control input-sm" style="width:50px;" type="number" step="1" min="0" max="31" value="0">
									</td>
									<td>
										<input id="abReductionIntervalHours" class="form-control input-sm" style="width:50px;" type="number" step="1" min="0" max="23" value="0">
									</td>
									<td>
										<input id="abReductionIntervalMinutes" class="form-control input-sm" style="width:50px;" type="number" step="5" min="0" max="60" value="5">
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<hr>
				<div class="form-group form-inline narrow-panel-item">
					<div class="inline-block">
						<label>Bidding Direction</label><br>
						<label class="radio-inline"><input type="radio" name="abAuctionDirection" value="ascending">Ascending</label>
						<label class="radio-inline"><input type="radio" name="abAuctionDirection" value="descending">Descending</label>
					</div>
				</div>
				<hr>
				<div class="form-group narrow-panel-item">
					<div class="inline-block">
						<label>Start Auction</label><br>
						<label class="radio-inline">
							<input type="radio" name="abAuctionStart" value="immediately" checked>Immediately
						</label>
						<label class="radio-inline">
							<input type="radio" name="abAuctionStart" value="atDateTime">Set Date/Time
						</label>
						{{#if setStartDateTime}}
							<input id="abStartDate" type="date">
							<input id="abStartTime" type="time" step="300">
						{{/if}}
					</div>
				</div>
			</form>
		</div>
	</div>
</template>