<template name="secondPriceParameters">
	<div class="panel panel-default" style="overflow:scroll;">
		<div class="panel-heading">
			<h3 class="panel-title">Auction Parameters (Second-Price)</h3>
		</div>
		<div class="panel-body">
			<form>
				<div class="form-group form-inline narrow-panel-item">
					<div class="inline-block">
						<label for="abReservePrice">Reserve Price</label>
						<input id="abReservePrice" class="form-control input-sm" style="width: 120px;" type="number"  step="any" min="0">
					</div>
				</div>
				<hr>
				<div class="form-group form-inline narrow-panel-item">
					<div class="inline-block">
						<label for="abBidStep">Bid step*</label>
						<input id="abBidStep" class="form-control input-sm" style="width: 120px;" type="number"  step="any" min="0">
						<span id="helpBlock" class="help-block">* Click here for more information.</span>
					</div>
				</div>
				<hr>
				<div class="form-group form-inline narrow-panel-item">
					<div class="inline-block">
						<label>Bidding Direction</label><br>
						<label class="radio-inline"><input type="radio" name="abAuctionDirection" value="ascending">Ascending</label>
						<label class="radio-inline"><input type="radio" name="abAuctionDirection" value="descending">Descending</label>
					</div>
				</div>
				<hr>
				<div class="form-group narrow-panel-item">
					<div class="inline-block">
						<label>Start Auction</label><br>
						<label class="radio-inline">
							<input type="radio" name="abAuctionStart" value="immediately" checked>Immediately
						</label>
						<label class="radio-inline">
							<input type="radio" name="abAuctionStart" value="atDateTime">Set Date/Time
						</label>
						{{#if setStartDateTime}}
							<input id="abStartDate" type="date">
							<input id="abStartTime" type="time" step="300">
						{{/if}}
					</div>
				</div>
				<hr>
				<div class="form-group narrow-panel-item">
					<div class="inline-block">
						<label>Auction End Date/Time</label><br>
						<input id="abEndDate" type="date">
						<input id="abEndTime" type="time" step="300">
					</div>
				</div>
			</form>
		</div>
	</div>			
</template>