<!-- This file contains templates used in the auctionBuilder and its sub-templates -->

<!-- ******* PANELS ******* -->
<template name="auctionTypeSelectorPanel">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Auction Type <span class="glyphicon glyphicon-info-sign" data-toggle="modal" data-target="#auctionInfoModal" aria-hidden="true"></span></h3>
		</div>
		<div class="panel-body">
			<p>Listed below are the auction types currently supported. If you require more information on how each auction operates, please click here.<span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="modal" data-target="#auctionInfoModal"></span></p>
			<ul class="list-group">
				<li class="list-group-item active pointer" data-action="set-auction-type" data-value="blind">
					<h4>Blind Auction</h4>
					<small>A Blind Auction only permits bidders to enter one bid. They must enter the bid before the auction finishes.</small>
				</li>
				<li class="list-group-item pointer" data-action="set-auction-type" data-value="english">
					<h4>English Auction</h4>
					<small>An English Auction allows bidders to bid multiple times.</small>
				</li>
				<li class="list-group-item pointer" data-action="set-auction-type" data-value="dutch">
					<h4>Dutch Auction</h4>
					<small>An English Auction allows bidders to bid multiple times.</small>
				</li>
				<li class="list-group-item pointer" data-action="set-auction-type" data-value="secondprice">
					<h4>Second Price Auction</h4>
					<small>An English Auction allows bidders to bid multiple times.</small>
				</li>
			</ul>
		</div>
	</div>
</template>

<template name="abInviteFriendsPanel">
	<div class="panel panel-default" >
		<div class="panel-heading">
			<h3 class="panel-title">Invite Friends</h3>
		</div>
		<div class="panel-body">
			<label class="radio-inline"><input type="radio" name="abPublic" value="public" checked>Public</label>
			<label class="radio-inline"><input type="radio" name="abPublic" value="private">Private</label>
			<div class="container-fluid">
				{{#each friend}}
					<div class="row">
						<div class="col-md-2"></div>
						{{#each row}}
							<div class="col-md-2 col-xs-6">
								<div style="padding:0 10%;">
								<label class="checkbox" style="display: block; margin-right: auto; margin-left: auto;">
						            {{#with friendDocument}}
						            	<input name="abFriendCheckbox" type="checkbox" class="checkbox-inline" value="{{this._id}}">{{this.company}}
						            {{/with}}
						   	    </label>
						   		</div>
					   		</div>
						{{/each}}
						<div class="col-md-2"></div>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
</template>

<template name="uploadImages">
	<div class="panel panel-default" >
		<div class="panel-heading">
			<h3 class="panel-title">Image Upload</h3>
		</div>
		<div class="panel-body">
			<h4>If you have any images related to the auction you would like to upload it can be done here.</h4>
			<input id="abImageFiles" type="file" multiple>
		</div>
	</div>
</template>

<!-- ****** End Panels ****** -->

<template name="abNameDescription">
	<div class="form-group">
	    <label>Auction Name:</label>
	    <input id="abAuctionName" type="text" class="form-control">
	</div>
	<div class="form-group">
	    <label>Description:</label>
	    <textarea id="abAuctionDescription" class="form-control" rows="5" ></textarea>
	</div>
</template>

<template name="createAuctionButton">
	<div class="text-center">
		<button id="abCreateAuction" type="button" class="btn btn-success btn-xlg">Create Auction</button>
	</div>
</template>


