<template name="auctionBuilder">
	<section id="create-new-auction">
		Server Time: {{serverTime}}<br>
		<form id="new-auction">
			<input id="auction-name" type="text" placeholder="Enter the auction name"><br>
			<input id="start-price" type="number"  step="any" min="0" placeholder="Enter the starting price"><br>
			<input id="reserve-price" type="number"  step="any" min="0" placeholder="Enter the reserve price"><br>
			<input id="auction-seller" type="text" placeholder="Enter the auction seller"><br>
			<select id="auctionDirection">
				<option value="ascending">Ascending</option>
				<option value="descending">Descending</option>
			</select>
			<select id="auctionType">
				<option value="blind">Blind</option>
			</select>
			<input id="end-date" type="date">
			<input id="end-time" type="time"><br>
			<label class="radio-inline"><input id="btn-public" type="radio" name="optradio" value="public">Public</label>
			<label class="radio-inline"><input id="btn-private" type="radio" name="optradio" value="private">Private</label>

			<input type="submit">

			{{#each friend}}
				<div class="controls col-md-2">
					{{#each row}}
						<label class="checkbox">
							{{#with friendDocument}}
				            	<input type="checkbox" class="select-bidders-checkbox checkbox-inline" value="{{this._id}}">{{this.company}}
				            {{/with}}
				        </label>
					{{/each}}
				</div>
			{{/each}}
		</form>
		<div id="success-fail">
			{{#if privateAuction}}
				BLAH BLAH BLAH
			{{/if}}
		</div>
	</section>
</template>