<template name="auctionPage">
	<section>
		{{serverTime}}
		{{this._id}}
		<div class="content">
			<div id="auction-name">
				{{auction_item}}
				{{timeRemaining}}
			</div>
			<div id="winning-bid">
				{{winningBid.amount}}
			</div>
			<div id="auction-type">
				{{auction_type}}
			</div>
			<div id="auction-start">
				{{startDateTime}}
			</div>
			<div id="auction-emd">
				{{endDateTime}}
			</div>
			<div id="remaining-time">

			</div>
		{{seller}}
		<form id="new-bid">
			<input id="bid-amount" type="number" step="0.05" min="0">
			<input type="submit">
		</form>
		</div>
	</section>
</template>