<template name="viewFriends">
	<div class="container">
		<div class="row">
			<div class="col-xs-1 col-md-1"></div>
			<div class="col-xs-10 col-md-10">
				{{> addFriend}}
			</div>
			<div class="col-xs-1 col-md-1"></div>
		</div>
		<hr>
		<div class="row">
			<div class="col-xs-1 col-md-1"></div>
			<div class="col-xs-10 col-md-10">
				<h1>Friends</h1>
				<table class="table table-responsive table-striped">
				    <thead>
				    	<tr>
					        <th>Company</th>
					        <th class="hidden-xs hidden-sm">Email</th>
					        <th class="hidden-xs hidden-sm hidden-md">Sector</th>
					        <th class="hidden-xs hidden-sm hidden-md hidden-lg">Friends Since</th>
					        <th>Assigned Grade</th>
					        <th class="hidden-xs hidden-sm">Remove Friend</th>
				    	</tr>
				    </thead>
				    <tbody>
				    	{{#each friend}}
					        <tr>
					        	{{#with friendDocument}}
					        		<td><a href="/profile/{{this._id}}">
					        			{{this.company}}
					        		</a></td>
					        		<td class="hidden-xs hidden-sm">
					        			<a href="/profile/{{this._id}}">
											{{#each this.emails}}
												{{#if indexZero @index}}
													{{this.address}}
												{{/if}}
											{{/each}}
										</a>
					        		</td>
						        	<td class="hidden-xs hidden-sm hidden-md">
							        	<a href="/profile/{{this._id}}">
							        		{{this.profile.sector}}
							        	</a>
							        </td>
					        	{{/with}}
						        <td class="hidden-xs hidden-sm hidden-md hidden-lg">
						        	<a href="/profile/{{this._id}}">
						        		{{formatDate this.date}}
						        	</a>
						        </td>
						  		<td>
						  			{{#each loop 0 this.assignedGrade}}
						  				<li class="line-list rating-icon"><span class="glyphicon glyphicon-star" data-value="{{this.value}}" aria-hidden="true"></span></li>
						  			{{/each}}
						  			{{#each loop this.assignedGrade 5}}
						  				<li class="line-list rating-icon"><span class="glyphicon glyphicon-star-empty" data-value="{{this.value}}" aria-hidden="true"></span></li>
						  			{{/each}}
						  		</td>
						  		<td class="hidden-xs hidden-sm">
						  			<button class="btn btn-danger" data-function="removeFriend">Remove Friend</button>
						  		</td>
					        </tr>
				        {{/each}}
				    </tbody>
				</table>
				<hr>
			</div>
			<div class="col-xs-1 col-md-1"></div>
		</div>
	</div>
</template>

<template name="addFriend">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Add Friend</h3>
		</div>
		<div class="panel-body">
			<p>Use the input below to find friends!</p>
			<div class="input-group">
				<input id="friendSearchBar" type="text" class="form-control" placeholder="Search for...">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" data-function="searchUsers">Search</button>
					</span>
		    </div>
		</div>
	</div>
	{{#if searchResults.hasResults}}
		<table class="table table-responsive table-striped">
		    <thead>
		    	<tr>
			        <th>Company</th>
			        <th class="hidden-xs hidden-sm">Email</th>
			        <th>Sector</th>
		    	</tr>
		    </thead>
		    <tbody>
		    	{{#each searchResults.results}}
			        <tr>
		        		<td>
		        			<a href="/profile/{{this._id}}">
		        				{{this.company}}
		        			</a>
		        		</td>
		        		<td class="hidden-xs hidden-sm">
		        			<a href="/profile/{{this._id}}">
								{{this.emails.[0].address}}
							</a>
		        		</td>
		        		<td>
		        			<a href="/profile/{{this._id}}">
		        				{{this.profile.sector}}
		        			</a>
		        		</td>
		       		</tr>
		        {{/each}}
		    </tbody>
		</table>
	{{else}}
		<p>No results. Please enter a search term.</p>
	{{/if}}
</template>