<template name="blindResults">
	<div class="container">
		<div class="row">
			<div class="col-xs-1 col-md-2"></div>
			<div class="col-xs-10 col-md-8">
				<h1>{{this.auction_name}} - Results</h1>
				<h3>Auctioned by <a href="/profile/{{this.seller}}">{{getCompany this.seller}}</a></h3>
				{{#if isSeller}}
					<table class="table table-striped">
						<thead>
					    	<tr>
					    		<th>Bidder</th>
						    	<th>Date</th>
						        <th>Amount</th>
						        <th>Selected Options</th>
					    	</tr>
					    </thead>
					    <tbody>
							{{#each this.bids}}
								<tr>
									<td>{{getCompany this.bidder}}</td>
									<td>{{formatDateTime this.date}}</td>
									<td>{{this.amount}}</td>
									<td>{{this.selectedOptions}}</td>
								</tr>
							{{/each}}
						</tbody>
					</table>
					<h3>The auction winner was {{getCompany winner.[0]._id}} with a bid of {{winner.[0].amount}}</h3><br>
					<h3>Selected Options: {{winner.[0].selectedOptions}}</h3>
				{{/if}}
			</div>
			<div class="col-xs-1 col-md-2"></div>
		</div>
	</div>
</template>