<template name="blindAuction">
	<section>
		<div class="container">
			<div class="row">
				<div class="col-xs-1 col-md-2"></div>
				<div class="col-xs-10 col-md-8">
					<h1>{{this.auction_name}}</h1>
					<h3>Auctioned by <a href="/profile/{{this.seller}}">{{getCompany this.seller}}</a></h3>
					<p>{{this.auction_description}}</p>
					<div class="row">
						<div class="col-md-1"></div>
						<div class="col-md-10">
							{{> imageRibbon auctionId=this._id}}
						<div class="col-md-1"></div>
						</div>
					</div>
				</div>
				<div class="col-xs-1 col-md-2"></div>
			</div>
			<hr>
			{{#if this.finished}}
				{{#if isSeller}}
					<div class="row">
						<div class="col-xs-1 col-md-2"></div>
						<div class="col-xs-10 col-md-8">
							<div class="panel panel-default">
							  <div class="panel-heading">
							    <h4 class="panel-title bid-panel-title">Auction Ended</h4>
							  </div>
							  <div class="panel-body">
							  	This auction has now ended. Click 'Review Auction' to review all the bids entered into this auction.
							  </div>
							</div>
							<div class="text-center">
						 		<button id="auctionReview" class="btn btn-info btn-xlg">Review Auction</button>
						 	</div>
						</div>
						<div class="col-xs-1 col-md-2"></div>
					</div>
				{{else}}
					<div class="row">
						<div class="col-xs-1 col-md-2"></div>
						<div class="col-xs-10 col-md-8">
							<div class="panel panel-default">
							  <div class="panel-heading">
							    <h4 class="panel-title bid-panel-title">Auction Ended</h4>
							  </div>
							  <div class="panel-body">
							  	This auction has now ended. Your bid will be reviewed by the auctioneer, who will then contact you if you are successful.
							  </div>
							</div>
						</div>
						<div class="col-xs-1 col-md-2"></div>
					</div>
				{{/if}}
			{{else}}
				{{#if isSeller}}
					<div class="row">
						<div class="col-xs-1 col-md-2"></div>
						<div class="col-xs-10 col-md-8">
							<p>As this is a blind auction you may only submit one bid. Please enter your bid in the section provided below before the timer reaches zero.</p>
							<h3>Time Remaining: {{timeRemaining}}</h3>
						</div>
						<div class="col-xs-1 col-md-2"></div>
					</div>
					<div class="row">
						<div class="col-xs-1 col-md-2"></div>
						<div class="col-xs-10 col-md-8">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Requirements</h3>
								</div>
								<div class="panel-body">
									<div class="container-fluid">
										{{#each auctionOption}}
											<div class="row">
												{{#each row}}
													<div class="col-md-3 col-xs-6">
														<div class="text-center">
															<p>{{this}}</p>
												   		</div>
											   		</div>
												{{/each}}
											</div>
										{{/each}}
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-1 col-md-2"></div>
					</div>
				{{else}}
					<div class="row">
						<div class="col-xs-1 col-md-2"></div>
						<div class="col-xs-10 col-md-8">
							<p>As this is a blind auction you may only submit one bid. Please enter your bid in the section provided below before the timer reaches zero.</p>
							<h3>Time Remaining: {{timeRemaining}}</h3>
						</div>
						<div class="col-xs-1 col-md-2"></div>
					</div>
					<div class="row">
						<div class="col-xs-1 col-md-2"></div>
						<div class="col-xs-10 col-md-8">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Requirements</h3>
								</div>
								<div class="panel-body">
									<div class="container-fluid">
										{{#each auctionOption}}
											<div class="row">
												{{#each row}}
													<div class="col-md-3 col-xs-6">
														<div class="text-center">
														<label class="checkbox" style="margin-right: auto; margin-left: auto;">
												            <input name="selectedOptions" type="checkbox" class="checkbox-inline" value="{{this}}">{{this}}
												   	    </label>
												   		</div>
											   		</div>
												{{/each}}
											</div>
										{{/each}}
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-1 col-md-2"></div>
					</div>
					{{#if noBidMade}}
						<div class="row">
							<div class="col-xs-1 col-md-2"></div>
							<div class="col-xs-10 col-md-8">
								<div class="panel panel-default">
								  <div class="panel-heading">
								    <h4 class="panel-title bid-panel-title">Make a Bid</h4>
								  </div>
								  <div class="panel-body">
								    <form class="form-inline insert-blind-bid">
								    	<div class="form-group">
										    <label for="exampleInputEmail2">Bid Amount:</label>
										    <input id="blind-bid-amount" type="number" class="form-control" min="{{auction_min}}">
										</div>
										  <button type="submit" class="btn btn-success">Submit</button>
								    </form>
								  </div>
								</div>
							</div>
							<div class="col-xs-1 col-md-2"></div>
						</div>
					{{else}}
						<div class="row">
							<div class="col-xs-1 col-md-2"></div>
							<div class="col-xs-10 col-md-8">
								<div class="panel panel-default">
								  <div class="panel-heading">
								    <h4 class="panel-title bid-panel-title">Make a Bid</h4>
								  </div>
								  <div class="panel-body">
								    Your bid for this auction has been submitted. Please check back when the auction ends for the result.
								  </div>
								</div>
							</div>
							<div class="col-xs-1 col-md-2"></div>
						</div>
					{{/if}}
				{{/if}}
			{{/if}}
		</div>
	</section>
	{{> imageModal}}
</template>