<template name="cleaningAuctionTemplate">
	<hr>
	<h3>Cleaning Auction Template</h3>
		{{> abNameDescription}}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Requirements</h3>
		</div>
		<div class="panel-body">
			<div class="container-fluid">
				{{#each auctionOption}}
					<div class="row">
						{{#each row}}
							<div class="col-md-3 col-xs-6">
								<div class="text-center">
								<label class="checkbox" style="margin-right: auto; margin-left: auto;">
						            <input name="abOptionCheckbox" type="checkbox" class="checkbox-inline" value="{{this}}">{{this}}
						   	    </label>
						   		</div>
					   		</div>
						{{/each}}
					</div>
				{{/each}}
			</div>
		</div>
		<div class="panel-footer">
			<form id="add-cleaning-option" class="form-inline text-center">
		    	<div class="form-group">
				    <label>Option:
				    	<input id="cleaning-option" type="text" class="form-control">
				    </label>
				</div>
				<div class="text-center">
				  <button type="submit" class="btn btn-success">Add Option</button>
				</div>
		    </form>
		</div>
	</div>
	<br>
	<br>			   
</template>	